
<div>
  <input type="text" placeholder="cerca utente" [(ngModel)]="searchTerm">
</div>
<div>
  <strong>paginazione</strong>
  <select class="form-control" [(ngModel)]="visibleElements">
    <option></option>
    <option *ngFor="let element of tableConfig.myPagination.itemPerPageOptions">
  {{element}}
    </option>
  </select>
</div>
<div>
  <strong>campo</strong>
  <select class="form-control"  [(ngModel)]="searchField">
    <option></option>
    <option *ngFor="let header of tableConfig.headers">
      {{header.label}}
    </option>
  </select>
  <table>
    <tr>
      <td *ngFor="let page of numbers; let i=index">
        <app-my-button-component (newItemEvent)="setPageNumberModel(i+1)" [buttonConfig]="{text: (i+1).toString(), customCssClass:'btn btn-outline-primary', icon:''}"></app-my-button-component>
      </td>
      </tr>
  </table>
</div>
  <table class="table table-dark">
  <thead>
    <tr>
      <th *ngFor="let header of tableConfig.headers">
        {{header.label}}
        <div *ngIf="showButtonAsc"> <app-my-button-component (newItemEvent)="ordinaAsc(header.key)" [buttonConfig]="buttonConfigAsc"> </app-my-button-component> </div>
        <div *ngIf="showButtonDesc"> <app-my-button-component (newItemEvent)="ordinaDesc(header.key)" [buttonConfig]="buttonConfigDesc"></app-my-button-component> </div>
      </th>

    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of data  | pagination:visibleElements:pageNumberModel | filtering: searchTerm : searchField | sort : sortedColumn: columnOrder">
    <td *ngFor="let header of tableConfig.headers;" >
      {{record[header.key]}}
    </td>

    <span *ngFor="let action of tableConfig.actions;">

      <app-my-button-component (newItemEvent)="modifica(record.name, record.surname)" [buttonConfig]="{text: action, customCssClass:'', icon:''}"></app-my-button-component>


    </span>

  </tr>
  </tbody>
</table>
