
<div>
  <input type="text" placeholder="cerca utente" [(ngModel)]="searchTerm">
</div>


<div >
  <strong>campo</strong>
  <select class="form-control" name="country" [(ngModel)]="searchField">
    <option>

    </option>
    <option [value]="nome">
     nome
    </option>
    <option [value]="cognome">
      cognome
    </option>
    <option [value]="eta">
      eta
    </option>
  </select>
</div>
<div >
  <strong>paginazione</strong>
  <select class="form-control" name="paginazione" [(ngModel)]="visibleElements">
    <option>

    </option>
    <option>
      1
    </option>
    <option>
      2
    </option>
    <option>
      3
    </option>
  </select>
</div>
  <table class="table table-dark">
  <thead>
    <tr>
      <th *ngFor="let header of tableConfig.headers">
        {{header.label}}
        <div *ngIf="showButtonAsc"> <app-my-button-component (newItemEvent)="ordinaAsc(header.key)" [buttonConfig]="buttonConfigAsc"> </app-my-button-component> </div>
        <div *ngIf="showButtonDesc"> <app-my-button-component (newItemEvent)="ordinaDesc(header.key)" [buttonConfig]="buttonConfigDesc"></app-my-button-component> </div>
      </th>

    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of data | sort : sortedColumn: columnOrder | filtering: searchTerm : searchField | pagination:visibleElements">
    <td *ngFor="let header of tableConfig.headers;" >
      {{record[header.key]}}
    </td>
  </tr>
  </tbody>
</table>

<br><br><br><br>
