<div class="tableEdit">
  <form style="width:5%;" [formGroup]="addUserForm">

    <table class="table table-dark">
      <thead>
      <tr>
        <th>
          Nome
        </th>
        <td>
          <input type="text" formControlName="firstName" >
        </td>
      </tr>
      <tr>
        <th>
          Cognome
        </th>
        <td>
          <input type="text" formControlName="lastName" >
        </td>
      </tr>
      <tr>
        <th>
          Email
        </th>
        <td>
          <input type="text" formControlName="email" >
        </td>
      </tr>
      <tr>
        <th>
          password
        </th>
        <td>
          <input type="text" formControlName="password" >
        </td>
      </tr>
      <tr>
        <th>
          role
        </th>
        <td>
          <input type="text" formControlName="role" >
        </td>
      </tr>

      </thead>
    </table>
    <app-my-button-component (newItemEvent)="update()" [buttonConfig]="{text: 'Salva', customCssClass:'btn btn-primary', icon:'save'}"></app-my-button-component>
  </form>
</div>
