
<div class="login-form" id="start" *ngIf="role!=='admin'&&role!=='user'">
  <form [formGroup]="loginUtenteForm" >
    <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
    <h4 class="modal-title">Login to Your Account</h4>
    <div class="form-group">
      <input formControlName="username" type="text" class="form-control" placeholder="Username" required="required">
    </div>
    <div class="form-group">
      <table>
        <tr>
          <td class="pwd">
            <input formControlName="password" type="{{passwordType}}" class="form-control" placeholder="Password" required="required">
          </td>
          <td>
            <span *ngIf="toggled">
              <mat-icon aria-hidden="false" class="toggleViewEye" (click)="togglePassword()" style="cursor: pointer">visibility</mat-icon>
            </span>
            <span *ngIf="!toggled">
              <mat-icon aria-hidden="false" class="toggleViewEye" (click)="togglePassword()" style="cursor: pointer">visibility_off</mat-icon>
            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="form-group small clearfix">
      <label class="checkbox-inline"><input type="checkbox">Remember me</label>
      <a href="#" class="forgot-link">Forgot Password?</a>
    </div>
    <input type="button" (click)="login()" class="btn btn-primary btn-block btn-lg" value="Login">
  </form>
  <div class="text-center small">Don't have an account? <a href="#">Sign up</a></div>
</div>






<div *ngIf="role==='user'">
  <button (click)="logout()">Logout</button>
  <app-table [data]="bookedCars" [tableConfig]="tableConfig" (btnEmitter)="event($event)"></app-table>

</div>



<div *ngIf="role==='admin'">
  <button (click)="logout()">Logout</button>
  <app-table [data]="reservations" [tableConfig]="tableConfig" (btnEmitter)="event($event)"></app-table>

</div>


