
<div class="login-form" id="start" *ngIf="!idDataLoaded">

  <form [formGroup]="loginUtenteForm" >
    <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
    <h4 class="modal-title">Login to Your Account</h4>
    <div class="form-group">
      <input formControlName="username" type="text" class="form-control" placeholder="Username" required="required">
    </div>
    <div class="form-group">
      <table>
        <tr>
          <td class="pwd">
            <input formControlName="password" type="{{passwordType}}" class="form-control" placeholder="Password" required="required">
          </td>
          <td>
            <span *ngIf="toggled">
              <mat-icon aria-hidden="false" class="toggleViewEye" (click)="togglePassword()" style="cursor: pointer">visibility</mat-icon>
            </span>
            <span *ngIf="!toggled">
              <mat-icon aria-hidden="false" class="toggleViewEye" (click)="togglePassword()" style="cursor: pointer">visibility_off</mat-icon>
            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="form-group small clearfix">
      <label class="checkbox-inline"><input type="checkbox">Remember me</label>
      <a href="#" class="forgot-link">Forgot Password?</a>
    </div>
    <input type="button" (click)="login()" class="btn btn-primary btn-block btn-lg" value="Login">
  </form>
  <div class="text-center small">Don't have an account? <a href="#">Sign up</a></div>
</div>




<div *ngIf="idDataLoaded" class="login-form">

  <table class="table">
    <tr>
      <td>nome</td>
      <td>{{utente.firstName}}</td>
    </tr>
    <tr>
      <td>cognome</td>
      <td>{{utente.lastName}}</td>
    </tr>
    <tr>
      <td>email</td>
      <td>{{utente.email}}</td>
    </tr>
  </table>
  <div class="buttonPrenotazioni">
    <app-my-button-component (click)="linkToReservation()" [buttonConfig]="{text: 'Prenotazioni', customCssClass:'btn btn-primary', icon:'collections_bookmark'}"></app-my-button-component>
  </div>

  <br>



  <div class="buttonPrenotazioni">
    <br>
    <app-my-button-component (click)="logout()" [buttonConfig]="{text: 'Esci', customCssClass:'btn btn-primary', icon:'exit_to_app'}"></app-my-button-component>
  </div>
</div>


<div *ngIf="role=='admin'" class="buttonUtenti">
  <app-my-button-component (click)="gestisciUtenti()" [buttonConfig]="{text: 'Gestione utenti', customCssClass:'btn btn-primary', icon:'supervised_user_circle'}"></app-my-button-component>
  <br>
  <app-my-button-component (click)="aggiungiUtente()" [buttonConfig]="{text: 'Aggiugni utenti', customCssClass:'btn btn-primary', icon:'person_add'}"></app-my-button-component>

</div>


