body {
    background: #8f7aad;
    color: #ffffff;
  }
  
  .container {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
  }
  
  h5 {
    color: #a795c1;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  
  p {
    line-height: 1.4;
    margin-top: 5px;
  }