<div class="tableEdit">
  <table class="table table-dark">
    <thead>
    <tr *ngFor="let header of tableConfig.headers">
      <th>
        {{header.label}}
      </th>
      <td *ngFor="let record of data">
        <input [disabled]="true" type="text" [(ngModel)]="record.car[header.key]">
      </td>
    </tr>
    </thead>
  </table>


  <table class="table table-light" style="width: 28%">
    <tr *ngFor="let header of tableConfig.headers">
      <td class="table-warning">
         <span *ngFor="let record of data">
            This car has been booked from this date: {{record.fromDate.substring(0,10)}} to {{record.toDate.substring(0,10)}}
    </span>
      </td>
    </tr>
    <br>
    <app-my-button-component (click)="back()" [buttonConfig]="{text: 'Torna indietro', customCssClass:'btn btn-primary', icon:'settings_backup_restore'}"></app-my-button-component>
  </table>


</div>
