<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Car Rental</a>
  <div class="navbar" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="redirectToParcoAuto()">Parco Auto</a>
      </li>
      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
          <app-my-button-component  (newItemEvent)="redirectToProfilo()" [buttonConfig]="buttonHome"></app-my-button-component>
        </div>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>



